<h1>Edit location</h1>

<% if (defined? @error_message != nil) %>
<p class="error"><%=@error_message %></p>
<% end %>

<form action="/locations/<%=@location.id %>" method="POST">
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" value="<%=@location.name %>">
  </fieldset>
  <fieldset>
    <label for="location_type">Location Type</label>
    <input type="text" name="location_type" value="<%=@location.location_type %>">
  </fieldset>
  <fieldset>
    <label for="country_id">Country</label>
    <select name="country_id">
    <option value="">Please choose</option>
      <% for country in @countries %>
      <option <% if (country.id == @location.country_id) %>selected<% end %> value="<%=country.id %>"><%=country.name %></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <input type="submit" value="SAVE">
  </fieldset>
</form>
