<h1><%= @location.name() %></h1>

<table>
  <tr>
    <th>Location</th>
    <th>Country</th>
    <th>Type</th>
    <th>Visited</th>
  </tr>
  <tr>
    <td>
      <%= @location.name %>
    </td>
    <td>
      <a href="#"><%= @location.country().name %></a>
    </td>    
    <td>
      <%= @location.location_type %>
    </td>
    <td>
      <% if @location.visited %>&#x2713;
      <% else %>&#x2717;
      <%end %>
    </td>
  </tr>
</table>

<form action="/locations/<%= @location.id %>/delete" method="post">
  <input type="submit" name="delete" value="Delete">
</form>

<form action="/locations/<%= @location.id %>/edit" method="get">
  <input type="submit" name="update" value="Update">
</form>

<% if (@location.sights().count > 0)
sights = @location.sights()%>
<h2>Sights in this location</h2>
<ul>
  <% for sight in sights %>
   <li><a href="/sights/<%=sight.id %>"><%=sight.name %></a></li>
  <% end %>
</ul>
<%end %>

<p><a href="/locations">View all locations</a></p>
