<h1>Location updated!</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Location</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>
      <a href="/countries/<%= @location.country().id %>"><%= @location.country().name %></a>
    </td>
    <td>
      <%= @location.name %>
    </td>
    <td>
      <%= @location.location_type %>
    </td>
  </tr>
</table>

<% if (@location.sights().count > 0)
sights = @location.sights()%>
<h2>Sights in this location</h2>
<ul>
  <% for sight in sights %>
   <li><a href="/sights/<%=sight.id %>"><%=sight.name %></a></li>
  <% end %>
</ul>
<%end %>

<p class="more"><a href="/locations">View all locations</a></p>
