<h1>Country: <%= @country.name %></h1>

<% for location in @country.locations() %>
<dl>
  <dt>Location: <a href="/locations/<%= location.id %>"><%= location.name %></a></dt>
  <dd>
    <ul>
      <% for sight in location.sights() %>
        <li>Sight: <a href="/sights/<%= sight.id %>"><%= sight.name %></a></li>
      <% end %>
    </ul>
  </dd>
</dl>
<% end %>

<p class="more"><a href="/countries">View all countries</a></p>
