<h1>Countries</h1>

<ul>
  <% for country in @countries %>
    <li>
      <h2>Country: <a href="/countries/<%= country.id %>"><%= country.name %></a></h2>
      <ul>
        <% for location in country.locations() %>
          <dl>
            <dt>Location: <%= location.name %></dt>
            <dd>
              <ul>
                <% for sight in location.sights() %>
                  <li>Sight: <a href="/sights/<%= sight.id %>"><%= sight.name %></a></li>
                <% end %>
              </ul>
            </dd>
          </dl>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
