<h2>Sight successfully added!</h2>

<% if (@sight.image_url && @sight.image_url != '') %>
<img src="<%= @sight.image_url %>" alt="<%= @sight.name %>">
<% end %>

<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Country</th>
    <th>Location</th>
    <th>Priority</th>
    <th>Visited</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @sight.name %></td>
      <td><%= @sight.type().name %></td>
      <td><%= @sight.country().name %></td>
      <td><%= @sight.location().name %></td>
      <td><%= @sight.priority %></td>
      <td><% if @sight.visited %>&#x2713;<% else %>&#x2717;<%end %></td>
    </tr>
  </tbody>
</table>

<p><a href="/sights">View all sights</a></p>
