<h1>Sights</h1>

<table>
  <tr>
    <th>Sight</th>
    <th>Type</th>
    <th>Location</th>
    <th>Country</th>
    <th>Priority</th>
    <th>Visited</th>
  </tr>
  <% for sight in @sights %>
  <tr>
    <td>
      <a href="/sights/<%= sight.id  %>">
        <%= sight.name %>
      </a>
    </td>
    <td>
      <a href="/sight-types/<%= sight.type().id  %>">
        <%= sight.type().name %>
      </a>
    </td>
    <td>
      <a href="/locations/<%= sight.location().id%>">
        <%= sight.location().name %>
      </a>
    </td>
    <td>
      <a href="/countries/<%= sight.country().id%>">
        <%= sight.country().name %>
      </a>
    </td>
    <td>
      <% if (sight.priority.to_i>0)
              for star in 1..sight.priority.to_i do %>
                &#9733;
              <%end%>
      <%end%>
    </td>
    <td>
      <% if sight.visited %>&#x2713;
      <% else %>&#x2717;
      <%end %>
    </td>
  </tr>
  <% end %>
</table>
