<h1><%= @sight.name() %></h1>
<p><a href="#"><%= @sight.continent().name %></a> >
  <a href="/countries/<%= @sight.country().id %>"><%= @sight.country().name %></a> >
  <a href="/locations/<%= @sight.location().id %>"><%= @sight.location().name %></a></p>

<% if (@sight.image_url && @sight.image_url != '') %>
<img src="<%= @sight.image_url %>" alt="<%= @sight.name %>">
<% end %>

<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Location</th>
    <th>Country</th>
    <th>Priority</th>
    <th>Visited</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @sight.name %></td>
      <td><%= @sight.type().name %></td>
      <td><%= @sight.location().name %></td>
      <td><%= @sight.country().name %></td>
      <td><% if (@sight.priority.to_i>0)
              for star in 1..@sight.priority.to_i do %>
                &#9733;
              <%end%>
          <%end%>
      </td>
      <td><% if @sight.visited %>&#x2713;<% else %>&#x2717;<%end %></td>
    </tr>
  </tbody>
</table>

<form class="button_only" action="/sights/<%= @sight.id %>/delete" method="post">
  <fieldset>
    <input type="submit" name="delete" value="Delete">
  </fieldset>
</form>

<form class="button_only" action="/sights/<%= @sight.id %>/edit" method="get">
  <fieldset>
    <input type="submit" name="update" value="Update">
  </fieldset>
</form>

<p><a href="/sights">View all sights</a></p>
