<h1>Sight successfully updated!</h1>

<% if (@sight.image_url && @sight.image_url != '') %>
<img src="<%= @sight.image_url %>" alt="<%= @sight.name %>">
<% end %>

<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Country</th>
    <th>Location</th>
    <th>Priority</th>
    <th>Visited</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @sight.name %></td>
      <td><%= @sight.type().name %></td>
      <td><%= @sight.country().name %></td>
      <td><%= @sight.location().name %></td>
      <td>
        <% if (@sight.priority.to_i>0)
          for star in 1..@sight.priority.to_i do %>
            &#9733;
          <%end%>
        <%end%>
      </td>
      <td><% if @sight.visited %>&#x2713;<% else %>&#x2717;<%end %></td>
    </tr>
  </tbody>
</table>

<p class="more"><a href="/sights">View all sights</a></p>
